---

---

<!-- ---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<testPage />
</Layout> -->


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Static Site Generator</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">About</a>

		<h1>UX 815: Challenge 8 - Astro Static Site Generator</h1>
		<p>Welcome to my new Astro site! I created this site by following the Astro documentation 
			and using the components and layouts provided. I ended up messing with htings a bit, 
			but after awhile I got the hang of it.</p>
		<img src="https://picsum.photos/200" alt="Recent Hike" />
		<!-- <Image src={"hike.jpg"} alt="A descriptive alt text" /> -->
	</body>
</html>

<style>
	body {
		font-family: system-ui, sans-serif;
		line-height: 1.4;
		margin: 0;
		padding: 2rem;
	}
</style>
